{% extends "home/layout/base.html" %}

{% block content %}
<section class="full-page" id="home">
    <div class="inner">
        <div class="content">
            <h1 id="welcome"></h1>
            <h1 id="cursor"></h1>
            <div id="btn-beli-tiket" style="display: none;">
                <a href="/tiket/" class="btn" id="btn-tiket"> Beli Tiket &#8594;</a>
            </div>
        </div>
    </div>
</section>

<section class="full-page" id="about">
    <div class="inner">
        <div class="content">
        	<h1>Tentang</h1>
        </div>
    </div>
</section>

<section class="full-page" id="activity">
    <div class="inner">
        <div class="content">
        	<h1>Kegiatan</h1>
        </div>
    </div>
</section>

<section class="full-page" id="contact">
    <div class="inner">
        <div class="content">
            <h1>Kontak</h1>
        </div>
    </div>
</section>

{% endblock %}