{% load staticfiles %}
{% load static %}

{% block timeline %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<script src="{% static 'js/timeline.js' %}"></script>

<section class="cd-horizontal-timeline">

	<!-- this is timeline -->
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol style="list-style-type: none;">
					<li><a href="#0" data-date="07/01/2014" class="selected">Bakti Sosial</a></li>
					<li><a href="#0" data-date="10/03/2014">CFD</a></li>
					<li><a href="#0" data-date="20/04/2014">Roadshow</a></li>
					<li><a href="#0" data-date="10/08/2014">TO</a></li>
					<li><a href="#0" data-date="30/11/2014">Bedah Kampus</a></li>
				</ol>

				<span class="filling-line" aria-hidden="true"></span>
			</div> <!-- .events -->
		</div> <!-- .events-wrapper -->
			
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive">Prev</a></li>
			<li><a href="#0" class="next">Next</a></li>
		</ul> <!-- .cd-timeline-navigation -->
	</div> <!-- .timeline -->



	<!-- EVENTS CONTENT -->
	<div class="events-content">
		<ol style="list-style-type: none;">
			<li class="selected" data-date="01/01/2014">
				<h2>Bakti Sosial</h2>
				<em>6 Januari 2018</em>
				<p>	
					Bakti sosial adalah salah satu bentuk wujud kepedulian UI Goes To Riau 2018 terhadap sesama khususnya di bidang pendidikan. Pada kegiatan ini kami tim UIGTR 2018 akan mengunjungi salah satu rumah singgah yang ada di Riau.
				</p>
			</li>

			<li data-date="10/03/2014">
				<h2>Creative Festival Day</h2>
				<em>7 Januari 2018</em>
				<p>	
					CFD merupakan pembukaan dari serangkaian acara UIGTR 2018 yang bertujuan memperkenalkan UI secara umum dan UIGTR secara khusus kepada seluruh masyarakat Riau dengan diberbagai kegiatan menarik. Sasaran CFD adalah siswa SMA/SMK sederajat dan masyarakat umum.
				</p>
			</li>

			<li data-date="20/04/2014">
				<h2>Roadshow</h2>
				<em>6-19 Januari 2018</em>
				<p>	
					Roadshow adalah kegiatan yang bertujuan memberikan informasi kepada siswa SMA/SMK sederajat dengan kunjungan ke sekolah di Riau terkait UI dan memberikan motivasi agar dapat diterima di UI. Ingin tahu kapan jadwal sekolah kamu dikunjungi? Simak lini masa kami di Line yaa! 
				</p>
			</li>

			<li data-date="10/08/2014">
				<h2>Try Out</h2>
				<em>13, 14, 20 Januari 2018</em>
				<p>	
					Try Out merupakan kegiatan yang dilaksanakan sebagai simulasi ujian masuk UI bagi siswa SMA/SMK sederajat. Hal ini bertujuan agar peserta Try Out dapat mengetahui gambaran persaingan untuk masuk ke perguruan tinggi khususnya UI. Jadwal Try Out dilaksanakan pada: 
					13 Januari 2018 (Pekanbaru), 14 Januari 2018 (Bangkinang dan Pangkalan Kerinci), 20 Januari 2018 (Dumai dan Duri). 
				</p>
			</li>

			<li data-date="30/11/2014">
				<h2>Bedah Kampus</h2>
				<em>Tunggu pengumumannya yaa!</em>
				<p>	
					Bedah kampus merupakan puncak dari kegiatan UI Goes To Riau 2018. Kegiatan ini akan membahas lebih jelas tentang dunia perkuliahan dari berbagai sumber. Kalian bisa bertanya mulai dari mahasiswa asal Riau yang sedang menempuh perkuliahan di jurusan tersebut, maupun yang telah lulus, hingga representasi UI yang akan menjadi narasumber utama pada acara ini.
				</p>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
{% endblock %}
