{% extends "tiket/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form_ticket.css' %}" />
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="{% static 'js/form_tiket.js' %}"></script>
<section class="full-page" id="ticket-form" style=" background-image: linear-gradient(to top, #09203f 0%, #537895 100%);">
  <div class="inner">
    <div class="container">

      <form action="{% url 'tiket:add_form' %}" method="POST" id="form-tiket" autocomplete="on">
        {% csrf_token %}
        <h1>Beli Tiket</h1>
        
        <fieldset>

          <legend><span class="number">1</span> Informasi dasar</legend>
          <input type="text" id="name" name="user_name" placeholder="Nama Lengkap*">
          <input type="email" id="mail" name="user_email" placeholder="Email*">
          <input type="text" id="school" name="user_school" placeholder="Asal Sekolah*" autocomplete="on">

        </fieldset>

        <fieldset class="profile">

          <legend><span class="number">2</span> Informasi Pembelian Tiket</legend>

          <label for="lokasi-TO">Lokasi Try Out:</label>
          <select id="lokasi-TO" name="tryout_location" autocomplete="off">
              <option value="0">Pekanbaru</option>
              <option value="1">Bangkinang</option>
              <option value="2">Duri</option>
              <option value="3">Dumai</option>
              <option value="4">Pangkalan Kerinci</option>
          </select>

          <label for="tiket-saintek">Jumlah Tiket Saintek:</label>
          <input type="number" name="tiket_ipa" value="0" id="tiket-ipa" onchange="calculate()" autocomplete="off">

          <label for="tiket-soshum">Jumlah Tiket Soshum:</label>
          <input type="number" name="tiket_ips" value="0" id="tiket-ips" onchange="calculate()" autocomplete="off">
          <div id="total-amount">Total :</div>
        </fieldset>
        <button type="submit" id="button-beli-tiket">Beli Tiket!</button>
        
      </form>
    </div>
  </div>
</section>

{% endblock %}