{% extends "tiket/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/status.css' %}" />
<style type="text/css">
	*{
  		font-family: 'Quicksand', sans-serif;
  		color: #5DBCD2;
	}
	.my-box{
		margin-bottom: 5%;
	}

	.my-label{
		float:left; 
		width:50%; 
		text-align: right;
		margin-right: 6px;
		color: #FBEC5F;
	}
	.info {
		text-align: left;
		padding-left: 5px; 
	}
</style>
<section class="full-page" id="ticket-form" style=" background-image: linear-gradient(to top, #09203f 0%, #537895 100%);">
	<div class="inner">
		<div class="container">
		<center>
			<div style="margin-bottom: 5%;">
				<h1 style="color:yellow">Status</h1>
			</div>
		</center>

				<p class="my-label">Nama : </p> <p class="info">{{siswa.nama}}</p>
				<p class="my-label">Email : </p> <p class="info">{{siswa.email}}</p>
				<p class="my-label">Asal Sekolah : </p> <p class="info">{{siswa.asal_sekolah}}</p>
			{% for tiket in tikets %}
				<div class="my-box">
					<p class="my-label" >Tiket Saintek : <p class="info">{{tiket.jumlah_tiket_ipa}}</p>
					<p class="my-label" >Tiket Soshum : <p class="info">{{tiket.jumlah_tiket_ips}}</p>
					<p class="my-label" >Lokasi Try Out : </p> <p class="info">
					{% if tiket.lokasi_TO == '0' %}
						Pekanbaru
					{% elif tiket.lokasi_TO == '1' %}
						Bangkinang
					{% elif tiket.lokasi_TO == '2' %}
						Duri
					{% elif tiket.lokasi_TO == '3' %}
						Dumai
					{% elif tiket.lokasi_TO == '4' %}
						Pangkalan Kerinci
					{% endif %}
					</p>

					<p class="my-label">Status Pembayaran : </p> <p class="info">
					{% if tiket.status_pembayaran == '0' %}
						 Belum dibayar
					{% elif tiket.status_pembayaran == '1' %}
						Dibayar
					{% elif tiket.status_pembayaran == '2' %}
						Menunggu konfirmasi
					{% elif tiket.status_pembayaran == '3' %}
						Lunas
					{% elif tiket.status_pembayaran == '4' %}
						Ditolak
					{% elif tiket.status_pembayaran == '5' %}
						Tidak dibayar
					{% endif %}
					</p>

					{% if tiket.status_pembayaran == '3' %}
						<p class="my-label">QRCode : </p>
						<img src="{{ tiket.qr_code_image.url }}">
			        {% endif %}
				</div>
			{% endfor %}



			<!-- <img src="{% static 'img/checked.png' %}"> -->
		</div>
	</div>
</section>
{% endblock %}