{% extends "tiket/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<style type="text/css">
* {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: yellow;
}
</style>
<section class="full-page" id="ticket-form" style=" background-image: linear-gradient(to top, #09203f 0%, #537895 100%);">
	<div class="inner">
		<div class="container">
			<center>
				<h1>[ERROR 404] Halaman yang kamu cari tidak ada.</h1>
				<div style="width:50%;height:0;padding-bottom:50%;position:relative;"><iframe src="https://giphy.com/embed/NniJ7lu7R4D8A" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
				<h3>Kalo kamu ga sengaja nemu halaman ini, silakan kontak web developer. Line ID: rehanhwr</h3>
			</center>
		</div>
	</div>
</section>
{% endblock %}