<style type="text/css">
html {
  position: relative;
  min-height: 100%;
}
body {
   Margin bottom by footer height 
  margin-bottom: 100px;
}

.resize-container {
  position: relative;
  display: inline-block;
  cursor: move;
  margin: 0 auto;
}

.resize-container img {
  display: block
}

.resize-container:hover img,
.resize-container:active img {
  outline: 2px dashed rgba(222,60,80,.9);
}   

</style>

<div class="container" style="text-align: center; font-size: 12px;">
	<span>Made with <span style="color: #fd0864">💔</span> and <span style="color: #fff000">&#128557;</span> by <a href="https://github.com/cloverun97/uigtr" target="_blank">Kikysu & Rehan</a> </span>
</div>
