/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .navbar-brand {
  padding-top: 5px;
}

.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

.navbar-inner {
  background:transparent;
}

.custom-nv{
  max-height: 10%;
}

#brand-image{
  height: 40px;
  vertical-align: text-top;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #394948;
  color: #ffffff;
}

.bg-img{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url('https://storage.googleapis.com/uigtr-staticfiles/BACKGROUND_IMAGE.JPG');
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.layer {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('https://storage.googleapis.com/uigtr-staticfiles/uigtr35ms.gif') 50% 50% no-repeat rgb(249,249,249);
}

.color{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,7d7e7d+10,0e0e0e+100 */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top, #7d7e7d 0%, #7d7e7d 10%, #0e0e0e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7d7e7d 0%,#7d7e7d 10%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7d7e7d 0%,#7d7e7d 10%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

/*Nani kore*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}

/*phone*/
@media only screen and (max-width: 768px){
  #input-list form {
    width: 290px;
  }
  .flex-item{
    flex-basis: 100%;
  }
}



