/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .navbar-brand {
  padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

.my-navbar {
  border: 0;
  border-radius: 0;
  background: none;
  min-height: 70px;
}

.my-navbar .container .navbar-header .navbar-toggle span .icon-bar {
  color: #FFFF00; /*yellow*/
}

.my-navbar #navbar li a {
  font-family: 'Quicksand', sans-serif;
  color: #5DBCD2;
  -webkit-transition: color 0.7s;
  -moz-transition:    color 0.7s;
  -ms-transition:     color 0.7s;
  -o-transition:      color 0.7s;
  transition:         color 0.7s;
  line-height: 40px;
}

.my-navbar #navbar li a:hover{
  color: #FFFF00;
}

.custom-nv{
  max-height: 10%;
}

#brand-image{
  height: 60px;
  vertical-align: text-top;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #394948;
  color: #ffffff;
}

.bg-img{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url('https://storage.googleapis.com/uigtr-staticfiles/BACKGROUND_IMAGE.JPG');
  height: 100%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.layer {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('https://storage.googleapis.com/uigtr-staticfiles/uigtr35ms.gif') 50% 50% no-repeat rgb(249,249,249);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


/*Nani kore*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}

/*phone*/
@media only screen and (max-width: 768px){
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #5DBCD2;
  }

  .my-navbar .container .navbar-header .navbar-toggle{
    border:0;
    background: none;
  }

  .my-navbar .container .navbar-header .navbar-toggle span{
    background: #5DBCD2;
  }

  .my-navbar .container .navbar-header .navbar-toggle span .sr-only{
    background: none;
  }

  .navbar .navbar-brand {
    padding-top: 5px;
  }
  .my-navbar {
    background: rgba(0, 0, 0, 0.5);
    min-height: 40px;
  }

  #brand-image{
    height: 44px;
    vertical-align: text-top;
  }

  .my-navbar #navbar li a {
    line-height: 25px;
  }

  #input-list form {
    width: 290px;
  }
  .flex-item{
    flex-basis: 100%;
  }
}



