
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar .navbar-brand {
  padding-top: 10px;
}

.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

.my-navbar {
  border: 0;
  border-radius: 0;
  background: none;
  min-height: 70px;
}

.my-navbar .container .navbar-header .navbar-toggle span .icon-bar {
  color: #FFFF00; /*yellow*/
}

.my-navbar #navbar li a {
  font-family: 'Quicksand', sans-serif;
  color: #5DBCD2;
  -webkit-transition: color 0.7s;
  -moz-transition:    color 0.7s;
  -ms-transition:     color 0.7s;
  -o-transition:      color 0.7s;
  transition:         color 0.7s;
  line-height: 40px;
}

.my-navbar #navbar li a:hover{
  color: rgba(255, 255, 0, 0.6);
}


.custom-nv{
  max-height: 10%;
}

#brand-image{
  height: 60px;
  vertical-align: text-top;
}

.active-link {
  color: #FFFF00 !important;
}

/*Fullpage background image */
.full-page {
  width: 100%;
  height: 100%;
  margin: auto;
  display: table;
  top: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.full-page .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.full-page .inner .content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}


.full-page .inner .content h1 {
  font-family: 'Quicksand', sans-serif;
  color: #5DBCD2;
  text-shadow: -2px 2px rgba(0, 0, 0, .7);
}

#home {
  /*background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)), url('https://storage.googleapis.com/uigtr-staticfiles/BACKGROUND_IMAGE.JPG') ;*/
  
  background-position: center; 
  background-size: cover;
}

#about {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-size: cover;
  background-position: center;
}

#activity {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) ;
  background-size: cover;
  background-position: center;
}

#contact {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-size: cover;
  background-position: center;
}

/*Typing animation, blinking cursor*/
h1 {
  display: inline;
}
.blinking-cursor {
  color: #5DBCD2;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #5DBCD2;
    text-shadow: -2px 2px rgba(0, 0, 0, .7);
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #5DBCD2;
    text-shadow: -2px 2px rgba(0, 0, 0, .7);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #5DBCD2;
    text-shadow: -2px 2px rgba(0, 0, 0, .7);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #5DBCD2;
    text-shadow: -2px 2px rgba(0, 0, 0, .7);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: #5DBCD2;
    text-shadow: -2px 2px rgba(0, 0, 0, .7);
  }
}


.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #394948;
  color: #ffffff;
}

#logo-imr-ui{
  height: 55px;
  margin-top: 8px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('https://storage.googleapis.com/uigtr-staticfiles/uigtr35ms.gif') 50% 50% no-repeat rgb(249,249,249);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


/*Nani kore*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px){
}

/*phone*/
@media only screen and (max-width: 768px){

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #5DBCD2;
  }

  .my-navbar .container .navbar-header .navbar-toggle{
    border:0;
    background: none;
  }

  .my-navbar .container .navbar-header .navbar-toggle span{
    background: #5DBCD2;
  }

  .my-navbar .container .navbar-header .navbar-toggle span .sr-only{
    background: none;
  }

  .navbar .navbar-brand {
    padding-top: 5px;
  }
  .my-navbar {
    min-height: 40px;
  }

  #brand-image{
    height: 44px;
    vertical-align: text-top;
  }

  .my-navbar #navbar li a {
    line-height: 25px;
  }

  #input-list form {
    width: 290px;
  }
  .flex-item{
    flex-basis: 100%;
  }

  .full-page .inner .content h1 {
    font-size: 20px;
  }
}



