@import url("//fonts.googleapis.com/css?family=Lato:900");

*,
*:before,
*:after {

  .box-sizing(border-box);

}

body {
  
  text-align: center;
  
  div {
    
    display: inline-block;
    .border-radius(100%);
    
  }
  
  .verified {
    
    @size: 200px;
    
    background: #fff;
    width: @size;
    height: @size;
    position: relative;
    border: #2ecc71 2px dashed;
    left: 0;
    
    .inner {
      
      background: #fff;
      .background-image(
        radial-gradient(
          center center,
          #fff 0%,
          lighten(#2ecc71, 45%) 100%
        )
      );
      width: @size - 15px;
      height: @size - 15px;
      position: absolute;
      border: lighten(#2ecc71, 45%) 1px solid;
      left: 5px;
      top: 5px;
      
      p {
        
        font-size: @size * .5;
        font-family: Lato, helvetica, sans-serif;
        text-shadow: 2px 4px 0 rgba(0, 0, 0, .05);
        line-height: @size * .85;
        color: #27ae60;
        
        span {
          
          background: #fff;
          font-size: 12px;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-shadow: none;
          position: absolute;
          width: 100%;
          height: @size * .15;
          line-height: @size * .15;
          .border-radius(@size);
          .box-shadow(
            0 0 0 1px lighten(#2ecc71, 35%) inset,
            0 1px 0 3px rgba(0, 0, 0, .02)
          );
          left: 0;
          bottom: 5px;
          
 
        }
        
      }
   
    }
  
  }
  
}